:root {
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

p {
  margin: 0;
}

.display_block {
  display: block;
}

/* Container */
.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Header */

.header {
  background-color: var(--Soft-red);
  color: var(--Very-pale-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 600px;
  padding: 1rem;
  border-radius: 10px;
}

.header_balance {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header_balance_myBalance {
  font-size: 1.8rem;
  font-weight: 700;
}

/* Main */
.main {
  width: 85%;
  max-width: 600px;
  padding: 1rem;
  background-color: var(--Very-pale-orange);
  border-radius: 10px;
  color: var(--Dark-brown);
}

.main hr {
  border-top: 1px solid var(--Cream);
}

.main_charts {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 0.5rem;
}

.main_charts_barContent {
  width: 14%;
}

.main_charts_amount {
  font-size: 0.8rem;
  color: var(--Very-pale-orange);
  background-color: var(--Dark-brown);
  border-radius: 5px;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  display: none;
}

.main_charts_bar {
  background-color: var(--Soft-red);
  border-radius: 5px;
}
.main_charts_barHigher {
  background-color: var(--Cyan);
}

.main_charts_bar:hover {
  background-color: hsl(10, 79%, 75%);
}

.main_charts_day {
  text-align: center;
  color: var(--Medium-brown);
}

.main_resume {
  display: flex;
  justify-content: space-between;
}

.main_resume_subtitle {
  color: var(--Medium-brown);
}

.main_resume_totalMonth_number {
  font-weight: 700;
  font-size: 2.2rem;
}

.main_resume_average {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.main_resume_average_percentage {
  font-weight: 700;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
